* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f3f3f3;
	font-family: 'Open Sans', sans-serif;
    width: 80%;
	max-width: 1000px;
	margin: auto;
}

a {
	text-decoration: none;
}

